<section class="signupList">
    <h2 class="signupList-title">All singups:</h2>
  
    <% if (signups.length === 0) { %>
      <p class="events__empty">No signups.</p>
    <% } else { %>
      <table class="events__table" cellpadding="0" style="text-align: center; margin-top: 1rem;">
        <tr>
          <th>Name</th>
          <th>comment</th>
        </tr>
        <% signups.forEach((row) => { %>
          <tr>
            <td class="name"><%= row.name %></td>
            <td class="comment"><%= row.comment %></td>
          </tr>
        <% }) %>
        </tr>
      </table>
    <% } %>
  </section>
  
